@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,700&family=Montserrat:wght@200&family=Spline+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,400;0,700;0,900;1,700&family=Montserrat:wght@200&family=Spline+Sans&display=swap');

.wrapper { padding-inline: 20px; }
@media (min-width: 600px) { .wrapper { padding-inline: 30px; } }
@media (min-width: 1024px) { .wrapper { padding-inline: 40px; } }

body {
    padding: 0;
    margin: 0;
    /*background-color: #F4EDDE;*/
    background-color: #212121;
    /*color: #212121;*/
    color: #F4EDDE;
    font-feature-settings: 'ss02' on;
    font-family: Spline Sans, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.01em;
}

button {
    /*color: #212121;*/
    color: #F4EDDE;
    font-feature-settings: 'ss02' on;
    font-family: Spline Sans, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.01em;
}

.h1 {
    /*color: #212121;*/
    color: #F4EDDE;
    font-family: Bebas Neue, sans-serif;
    font-size: 196px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin: 0;
}

.h2 {
    /*color: #212121;*/
    color: #F4EDDE;
    font-family: Bebas Neue, sans-serif;
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .h2 {
        font-size: 100px;
    }
}

@media screen and (max-width: 600px) {
    .h2 {
        font-size: 30px;
    }
}

.text {
    /*color: #212121;*/
    color: #F4EDDE;
    font-feature-settings: 'ss02' on;
    font-family: Spline Sans, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.8px;
}

.lineHome {
    border-bottom: 20px solid #F4EDDE;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover, a:focus {
    text-decoration: none;
    color: inherit;
}